/*      Section start */
section.start{
    background-image: url(/images/displayImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(128, 128, 128, 0.585);
    background-blend-mode:color-burn;
    padding: 4em 0 7em;
    
    }

section.start::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 73vh;
    background-color: rgba(255, 180, 37, 0.7);
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    animation: slideshow 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes slideshow {
    0%{
        right: 0px;
    }
    100%{
        right: 1500px;
    }
}
section.start article h1{
    /* z-index: 10; */
    color: #fff;
    font-size: 70px;
    font-family: Poppins;
    font-weight: 700;
    width: 50%;
}

section.start article p{
    overflow: hidden;
    margin: 0.5em 0 2em;
    color: #fff;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 50%;
    
}
section.start  article a.getStarted{
    color: #fff;
    /* z-index: 10; */
    background-color: brown;
    padding: 12px 25px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}


/* Our focus */

section.our-focus h3.o-f{
    color: brown;
    font-size: 14px;
    font-weight: 800;
    font-family: Poppins;
}
section.our-focus div.wwd{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    /* width: 80%; */
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
section.our-focus h1.wwd{
    font-size: 30px;
}

section.our-focus div.lists{
    display: flex;
    /* width: 80%; */
    align-items: center;
    justify-content: space-around;
    padding: 2em 0;    
}

/* Handle all images with class of top  */
section img.top{
    position: relative;
    top: -17px;
    right: -8px;
}
section.our-focus div.lists article h4.each{
    margin: 0.41em 0 1em;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
section.our-focus div.lists article p.each-info{
        color: gray;   
        font-weight: 400;
        font-size: 14px;
        font-family: 'poppins', sans-serif;
        padding-right: 1rem;
}

/* get involved */

section.get-involved{
    font-family: poppins;
}
section.get-involved h3.gi{
    color: brown;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
section.get-involved div.giig{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    
}
section.get-involved h1.giig{
    font-size: 30px;
}

section.get-involved div.growth{
    display: flex;
    align-items: center;
    font-family: poppins;
    padding: 3.5em 0;
}

section.get-involved div.growth article h4.each{
    margin: 0.41em 0 1em;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
}

section.get-involved div.growth article p.each-info{
        color: gray;   
        font-weight: 400;
        margin-bottom: 0.5em;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        padding-right: 1rem;
        
}
section.get-involved div.growth article a{
    text-decoration: none;
    color: goldenrod;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/*  broad explanation  */

section.trainings,section.consultancy,section.data-services {
    padding: 2em 0 1em;
    
}

/* broad explanation on Training */

section.trainings h3, section.consultancy h3, section.data-services h3{
    margin: 0.61em 0;  
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 24px;
}
section.trainings p, section.consultancy p, section.data-services p{
    font-size: 14px;
    color: grey;
    font-family: poppins;
    font-weight: 400;
}
section div.image{
    margin: 1em 0;
    width: 100%;
}
section div.image img{
    width: 100%;
    height: 167px;
    /* margin: 20px 0px 20px; */
}

section div.gt{
        text-align: center;
        width: 100%;
}

section div.gt a{
    padding: 7px  7px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #BE181A;
    border-radius: 6px;
    cursor: pointer;
}


/* Tablet Design */
@media (max-width:777px){
    section.start{
        height: 53vh;
        
    }
   
    section.start article h1{
        position: relative;
        width: 350px;
        font-size: 34px;
        line-height: 45px;
    }
    
    section.start article p{
        position: relative;
        font-size: 18px;
        margin: 1em 0 3em;
        width: 350px;
        
    }
    section.start  article a.getStarted{
        position: relative;
        padding: 10px 12px;
        border-radius: 5px;
        font-size: 14px
    
    }
    /* Our focus */
img.mobile-absent{
    display: none;
}
section.our-focus h1.wwd{
    font-size: 22px;
}

section.our-focus div.lists{
    display: grid;
    /* width: 80%; */
    height: 75vh;
    align-items: center;
    justify-content: space-around;
        
}

/* get involved */

section.get-involved{
    margin-top: 1.5em;
}
section.get-involved h1.giig{
    font-size: 20px;
}

section.get-involved div.growth{
    display: grid;
    height: 90vh;
}

/*  broad explanation  */

/* section.trainings,section.consultancy,section.data-services { */
    /* height: 70vh; */
/* } */

/* broad explanation on Training */
section.trainings h3, section.consultancy h3, section.data-services h3{
    font-size: 18px;
}
section.trainings p, section.consultancy p, section.data-services p{
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;  
}
section div.image{
    margin: 1em 0;
    width: 100%;
}
section div.image img{
    width: 100%;
    height: 167px;
    margin: 0;
}

section div.gt{
        text-align: center;
        width: 100%;
}

section div.gt a{
    padding: 7px  7px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #BE181A;
    border-radius: 6px;
    cursor: pointer;
}
section.start::after{
    top: 0.01em;
    height:53.1vh;

}
}
