
/*      Section start */
section.start{
    margin: 2em 0 3em;
    height: 73vh;
    background-image: url(/images/displayImage.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: -10px;
    background-color: rgba(128, 128, 128, 0.585);
    background-blend-mode:color-burn;
    }
section.start article{
    /* background-color: rgba(255, 180, 37, 1); */
    height: 60vh;
    width: 45%;
    /* text-align: center; */
    /* padding: 0 0 0 3em; */
}
section.start::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 73vh;
    background-color: rgba(255, 180, 37, 0.7);
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    animation: slideshow 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes slideshow {
    0%{
        right: 0px;
    }
    100%{
        right: 1500px;
    }
}
section.start article h1{
    position: absolute;
    z-index: 10;
    color: #fff;
    font-size: 70px;
    font-family: Poppins;
    font-weight: 700;
    margin-top: 20px;
    /* color: #e85353; */
    width: 50%;
    /* margin: 0 3em 0; */
}

section.start article p{
    position: absolute;
    z-index: 10;
    overflow: hidden;
    color: #fff;
    font-size: 21px;
    margin: 11em 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    width: 50%;
    
}
section.start  article a.getStarted{
    color: #fff;
    position: absolute;
    z-index: 10;
    background-color: brown;
    padding: 12px 25px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    /* top: 300px; */
    font-family: 'Poppins', sans-serif;
    margin: 18em 0 0;
}

/* Our focus */

section .our-focus{
    /* margin-left: 3em; */
}
section .our-focus h3.o-f{
    color: brown;
    font-size: 14px;
    font-weight: 800;
    font-family: Poppins;
}
section .our-focus div.wwd{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 80%;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
section.our-focus h1.wwd{
    /* margin: 0.3em 0 1em; */
    font-size: 30px;
}

section.our-focus div.lists{
    display: flex;
    width: 80%;
    height: 33vh;
    align-items: center;
    justify-content: space-around;
    margin-left: 60px;
    
}

/* Handle all images with class of top  */
section img.top{
    position: relative;
    top: -17px;
    right: -8px;
}
section.our-focus div.lists article h4.each{
    margin: 0.41em 0 1em;
    font-size: 18px;
    font-family: 'poppins', sans-serif;
    font-weight: 400;
}
section.our-focus div.lists article p.each-info{
        color: gray;   
        font-weight: 400;
        font-size: 14px;
        font-family: 'poppins', sans-serif;
}

/* get involved */

section.get-involved{
    /* margin: 0 0 4em 3em; */
    font-family: poppins;
}
section.get-involved h3.gi{
    color: brown;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}
section.get-involved div.giig{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    width: 90%;
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.get-involved h1.giig{
    /* margin: 0.3em 0 1em; */
    font-size: 30px;
}

section.get-involved div.growth{
    display: flex;
    width: 90%;
    height: 33vh;
    align-items: center;
    font-family: poppins;
    /* justify-content: space-between; */
    margin-left: 40px;
}

section.get-involved div.growth article h4.each{
    margin: 0.41em 0 1em;
    font-size: 18px;
    font-family: poppins;
    font-weight: 400;
}

section.get-involved div.growth article p.each-info{
        color: gray;   
        font-weight: 400;
        margin-bottom: 0.5em;
        font-family: poppins;
        font-size: 14px;
}
section.get-involved div.growth article a{
    text-decoration: none;
    color: goldenrod;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

/*  broad explanation  */

section.trainings,section.consultancy,section.data-services {
    /* margin: 0 0 0 3em; */
    height: 65vh;
    margin-top: 20px;
    
}

/* broad explanation on Training */

section.trainings h3, section.consultancy h3, section.data-services h3{
    margin: 0.61em 0;  
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 24px;
}
section.trainings p, section.consultancy p, section.data-services p{
    font-size: 14px;
    color: grey;
    font-family: poppins;
    font-weight: 400;
    margin-bottom: 20px;
    margin-left: 20px;  
}
section div.image{
    margin: 1em 0;
    width: 100%;
}
section div.image img{
    width: 100%;
    height: 167px;
    margin: 20px 0px 20px;
}

section div.gt{
        text-align: center;
        width: 100%;
}

section div.gt a{
    padding: 7px  7px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-color: #BE181A;
    border-radius: 6px;
    cursor: pointer;
}