section.services{
    background-image: url(/images/people.svg);
    background-size: cover;
    background-position: center;
    padding: 4em 0 7em;
    position: relative;
    background-color: rgba(128, 128, 128, 0.665);
    background-blend-mode:color-burn;
    overflow-x: hidden;
}
section.services::before{
    content: "";
    position:absolute;
    width: 50%;
    height: 73vh;
    top: 0;
    left: 0;
    z-index: 2px;
    background-color: rgba(230, 60, 60,0.7);
    animation: width 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes width {
    0%{
        left: 0px;
    }
    100%{
        left: -730px;
    }
}
section.services::after{
    content: "";
    position:absolute;
    width: 50%;
    height: 73vh;
    top: 0;
    right: 0;
    z-index: 2px;
    background-color: rgba(230, 60, 60,0.7);
    animation: widthshow 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes widthshow {
    0%{
        right: 0px;
    }
    100%{
        right: -730px;
 
    }
}
section.services div.details{
    z-index: 1;
    color: #fff;
}
section.services h1.service-head{
        color: #fff;
        font-size: 60px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
}
section.services p.service-text{
    margin: 1em 0 1.5em;
    font-size: 24px;
    color: #fff;
    width: 800px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.services a.get_started{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* What we do */

/* section.what-we-do{
    margin: 3em -3em 6em 8em;
} */
section.what-we-do h3.wwd{
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

section.what-we-do h1.wwd-head{
    margin: 0.3em 0;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.what-we-do p.wwd-text{
    font-size: 16px;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
section.what-we-do article {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    font-family: 'poppins', sans-serif;
    gap: 2em;
    margin-top: 30px;
}
section.what-we-do article div{
    width: 300px;
    margin-top: 30px;
}
section.what-we-do article div img{
    background-color: rgba(230, 60, 60,0.3);
    padding: 6px 10px;
}
section.what-we-do article div h4{
    margin: 1em 0;
    font-size: 24px;
    font-weight: 400;
    font-family: poppins;
}
section.what-we-do article div p{
    margin-bottom: 0.7em;
    font-size: 14px;
    font-weight: 400;
}

section.what-we-do article div a{
    color: #000;
    text-decoration: none;
    
    font-style: italic;
    font-weight: 600;
    font-size: 12px;
}
section.what-we-do article div a::after{
    content: "";
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: rgba(230, 60, 60,0.6);
    position: relative;
    bottom: -12px;
    left: -70px;
}
   
        /* Looking for young talent */
   section.young-talent{
        font-family: 'Poppins', sans-serif;
        padding: 3em 0;
   }     
   section.young-talent .yt-text {
    font-size: 21px;
    width: 60%;
    font-weight: 300;
    font-family: poppins;
   }
   section.young-talent .yt-head{
    margin: 0.1em 0;
    font-size: 36px;
    font-weight: 700;
   }
   section.young-talent .send-mail{
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
   }


   /* Design for tablet */
   @media (max-width:1000px) {
   
    section.services h1.service-head{
            font-size: 34px;
    }
    section.services p.service-text{
        margin: 2em 0 3em;
        font-size: 17px;
        width: 300px;
        line-height: 20px;
    }
    section.services a.get_started{
        padding: 10px 15px;
        border-radius: 5px;
        font-size: 14px
    }
    
    }

 @media (max-width:720px) {
   
section.what-we-do h1.wwd-head{
    font-size: 22px;
}
  }

@media (max-width:500px) {
    section.services{
      height: 50vh;
      overflow-y: hidden;
     }

    section.services p.service-text{
        overflow-y: hidden;
    }
    section.services a.get_started{
        padding: 5px 15px;
        border-radius: 5px;
        font-size: 14px
    }
   section.young-talent .yt-text {
    font-size: 18px;
   }
   section.young-talent .yt-head{
    font-size: 22px;
   }
   section.young-talent .send-mail{
    font-size: 21px;
    font-weight: 300;
    font-style: italic;
   }

   }