/* Portfolio start */
section.portfolio{
    /* height: 73vh; */
    background-image: url(/images/people.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4em 0 7em;
    position: relative;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(128, 128, 128, 0.576);
    background-blend-mode: color-burn ;
    z-index: -4;
    overflow-x: hidden;
}
section.portfolio::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 73vh;
    top: 0em;
    left: 0em;
    z-index: 1;
    overflow-x: hidden;
    background-color: rgba(55,215, 25,0.6);
    animation: leftshow 2s ease-out;
    animation-fill-mode: forwards;
}
@keyframes leftshow {
    0%{
        left: 0px;
    }
    100%{
        left: 1500px;
    }
}
section.portfolio div.details{
    z-index: 10000;
    color: #fff;
}
section.portfolio  h1.portfolio-head{
        color: #fff;
        font-size: 60px;
        font-weight: 700;
}
section.portfolio  p.portfolio-text{
    margin: 1em  0 1.5em;
    font-size: 25px;
    color: #fff;
    width: 700px;
    font-weight: 700;
}
section.portfolio  a.get_started{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


/* What we do */

section.what-we-do{
    font-family: 'Poppins', sans-serif;
}
section.what-we-do h3.wwd{
    color: brown;
    font-size: 14px;
    font-weight: 800;
}

section.what-we-do h1.wwd-head{
    margin: 0.8em 0;
    font-size: 36px;
    font-family: 700;
}
section.what-we-do p.wwd-text{
    font-size: 16px;
    width: 360px;
    font-weight: 300;
}

/*  Project and Images */


article.projects_and_images{
    font-family: 'Poppins', sans-serif;
}
article.projects_and_images div.each-project{
    display: flex;
    margin: 3em 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
    /* Desktop absent */
article.projects_and_images div.each-project.mobile-present{
    display: none;
}
article.projects_and_images div.each-project div.text h1{
    font-weight: 700;
    font-size: 36px;
}
article.projects_and_images div.each-project div.text h3{
    margin: 1em 0;
    font-weight: 600;
    font-size: 16px;
}
article.projects_and_images div.each-project div.text p{
    font-size: 16px;
    margin-bottom: 2em;
    width: 500px;
    font-weight: 300;
}

article.projects_and_images div.each-project div.text a{
    background-color:#fff;
    padding: 10px 25px;
    color: #000;
    font-weight: 500;
    text-decoration: none;
    border-radius: 7px;
    transition: all 500ms;
    font-family: poppins;
    font-size: 15px;
    border: 2px solid grey;
}
article.projects_and_images div.each-project div.text a:hover{
    background-color: gray;
    color: #fff;
}
article.projects_and_images div.each-project img{
    border-radius: 10px;
    width: 100%;
}

/* Looking for young talent */
section.young-talent{
    font-family: 'Poppins', sans-serif;
    padding: 3em 0;
}     
section.young-talent .yt-text {
font-size: 20px;
width: 60%;
font-weight: 300;
}
section.young-talent .yt-head{
margin: 1em 0;
font-weight: 700;
font-size: 30px;
font-family: poppins;
}
section.young-talent .send-mail{
font-size: 23px;
font-weight: 400;
font-family: poppins;
font-style: italic;
}


@media (max-width:1000px){
    article.projects_and_images div.each-project div.text h1{
        font-weight: 700;
        font-size: 36px;
    }
    article.projects_and_images div.each-project div.text h3{
        width: 300px;
    }
    article.projects_and_images div.each-project div.text p{
        width: 300px;
    }
    
   }


   @media (max-width:770px){
    /* Portfolio start */

section.portfolio  h1.portfolio-head{
        font-size: 34px;
}
section.portfolio  p.portfolio-text{
        margin: 2em 0 3em;
        font-size: 17px;
        /* width: 300px; */
        width: auto;
        line-height: 20px;
}
section.portfolio  a.get_started{
        padding: 10px 12px;
        border-radius: 5px;
        font-size: 14px
}
/* What we do */

section.what-we-do h1.wwd-head{
    font-size: 22px;
}
section.what-we-do p.wwd-text{
    font-size: 16px;
    /* width: 400px; */
    font-weight: 300;
}

/*  Project and Images */


article.projects_and_images div.each-project{
    display: block;
    width: 100%;
    margin-top: 2em;
}

/* Mobile present */
article.projects_and_images div.each-project.mobile-present {
    display: block;
}

/* Mobile Absent */
article.projects_and_images div.each-project.mobile-absent{
    display: none;
}

article.projects_and_images div.each-project div.text h1{
    font-size: 23px;
}
article.projects_and_images div.each-project div.text h3{
    margin: 1em 0;
    font-weight: 600;
    font-size: 16px;
}
article.projects_and_images div.each-project div.text p{
    font-size: 16px;
}

article.projects_and_images div.each-project div.text a{
    padding: 5px 15px;
   }
article.projects_and_images div.each-project img{
    width: 100%;
}

    /* Looking for young talent */
         
   section.young-talent .yt-text {
    font-size: 17px;
    /* width: 80%; */
    width: auto;
   }
   section.young-talent .yt-head{
    margin: 1em 0;
    font-size: 20px;
   }

   }
   