/* about section */
body{
    font-family: poppins;
}
section.about{
    margin-top: 1em;
    padding: 2em 0 0 7em;
    background-image: url(/images/about-bg.svg);
    background-size: cover;
    height: 73vh;
    color: #fff;
    /* margin: 0 auto; */
    background-position-y: 50%;
}

.landing-mobile-css1{
    display: flex;
    justify-content: space-between;
}

.landing-mobile-css1 h2.logo{
    margin-top: 5px;
    margin-left:-30px;
}
.landing-mobile-css1 h2{
    margin-top: 20px;
    margin-left: 150px;
}
.landing-mobile-css1 ul {
    margin-left: 100px;
    margin-top: 27px;
}

section.about h1.about-us{
    font-family: 'Poppins', sans-serif;
    font-size: 64px; 
    position: relative;
    top: 35px;  
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s;
  }
  
  @keyframes animatezoom {
    from {
      -webkit-transform: scale(0);
    }
    to {
      -webkit-transform: scale(1);
    }
  }
section.about h3.about-intro{
    margin: 0.7em 0;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s;
    
}
section.about p.about-text{
    /* margin: 3em 0; */
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    width: 600px;
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s;
}

/* Display Images */ 

article.display_images{
    /* display: flex;
    justify-content: space-evenly; */
    width: 78%;
    
    height: 150px;
    margin: 6.5em 0px  0 auto;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-content: center;
    background-color: red; */
} 
 article.display_images img{
    position: relative;
    /* width: 180px;
    height: 300px; */
    border-radius: 70px;
    top: -11em;
}
article.display_images img#second{
    position: relative;
    right: -50px;
}
/*article.display_images .double img{
    height: 100px;
    width: 150px;
    border-radius: 50%;
    border-bottom-right-radius: 7px  ;

} */

    /* Vision and Mission */

.vision-mission{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 1fr);
    width: 70%;
    /* margin: 50px auto 60px; */
    gap: 7px;

}
.vision-mission-contents:nth-child(1){
    background-color: #19A0FC;
    width: 537.93px;
    height: 294.05px;
    opacity: 80%;
}
.vision-mission-contents:nth-child(1) img {
    position: relative;
    width: 34.59px;
    height: 34.59px;
    top: 10.46%;
    left: 8.4%;
    bottom: 8.33%;
}
.vision-mission-contents:nth-child(1) h3{
    color: #fff;
    font-size: 30.59px;
    font-family: poppins;
    font-weight: 100;
    margin: 60px 50px  0;
}
.vision-mission-contents:nth-child(1) p{
    margin-left: 50px;
    font-family: poppins;
    color: #fff;
    font-weight: 300;
    width: 70%;
}
.vision-mission-contents:nth-child(2) img {
    width: 420.31px;
    height: 294.05px;
    /* left: 558.69px; */
}
.vision-mission-contents:nth-child(3) img {
    width: 420.31px;
    height: 294.05px;
    /* left: 558.69px; */
}
.vision-mission-contents:nth-child(4){
    background-color: #BE181A;
    width: 537.93px;
    height: 294.05px;
    margin-left: -114.69px;
    opacity: 80%;
}
.vision-mission-contents:nth-child(4) h3{
    color: #fff;
    font-size: 30.59px;
    font-family: poppins;
    font-weight: 100;
    margin: 60px 50px  0;
}
.vision-mission-contents:nth-child(4) img {
    position: relative;
    width: 34.59px;
    height: 34.59px;
    top: 10.46%;
    left: 8.4%;
    bottom: 8.33%;
}
.vision-mission-contents:nth-child(4) p{
    margin-left: 50px;
    font-family: poppins;
    color: #fff;
    font-weight: 300;
    width: 70%;
}
/* Our Core Values */

section.core-values{
    /* margin: 3em 0 2em 7em; */
    position: relative;
    height: 100vh;
    /* top: -3em; */
}
section.core-values h3.wdu{
    color: brown;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 800;
}

section.core-values h1.ocv{
    margin: 1em 0;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
section.core-values article.values-display{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    width: 70%;
}
section.core-values article.values-display div{
    width: 320px;
    background-color: #FAFAFA;
    padding: 15px 25px;
}

section.core-values article.values-display div p.each-value{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0.6em 0;
    color: #212529;
}
section.core-values article.values-display div p.each-value + span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #5B6671;
}



/* Members -- Our team */

section.our-team{
    /* margin-left: 7em; */
    position: relative;
    top: -6em;
}
section.our-team h1.ot-header{
font-weight: 700;
font-family: 'Poppins', sans-serif;
font-size: 36px;
color: #000;
}
section.our-team p.ot-info{
    margin: 1em 0 2em;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    width: 80%;
    color: #212529;
    word-spacing: 5px;
}

section.our-team article.members{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 2em;
    margin-right: 300px;
}


section.our-team article.members div.main{
    width: 310px;
    height: 290px;
    box-shadow: 1px 1px 1px 1px grey;
    padding:  15px;
    text-align: center;
    border-radius: 7px;
    /* background-color: lightgrey; */
}
 /* section.our-team article.members div.on-hover{
    width: 330px;
    height: 280px; 
    background-color: grey; 
    display: flex;
    box-shadow: none;
    text-align: left;
}  */
 
section.our-team article.members div.main img.main{
    width: 80px;
}
section.our-team article.members div.main h3{
    margin: 12px 0;
    font-family: 'Poppins', sans-serif;
    color: #BE181A;
    font-weight: 500;
}
section.our-team article.members div.main h5{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
section.our-team article.members div.main p{
    margin-top: 20px;
    font-family: poppins;
    font-size: 12px;
    font-weight: 500;
    word-spacing: 2px;
}

section.our-team article.members div.main.on-hover{
    width: 350px;
    height: 280px;
    /* box-shadow: none; */
    display: flex;
  -webkit-animation: animatezoom 0.1s;
  animation: animatezoom 0.1s;
  box-shadow: 2px 2px 5px;
border: 2px solid rgba(0, 0, 0, 0.093);
}
div.on-hover img {
    width: 190px;
    height: 270px;
    object-fit: cover;
    margin-top: -12px;
    margin-left: -10px;
    border-radius: 2px;
}
div.on-hover div{
    margin-left: 1em;
    font-family: 'Poppins', sans-serif;
}
section.our-team article.members div.main.on-hover h3{
    margin: 1em 0;
    color: #000;
    font-weight: 600;
}
.main.on-hover div p{
    font-family: 'Inter', sans-serif;
    /* color: #fff; */
}
/* section.our-team article.members img{
    height: 200px;
}
section.our-team article.members div.name-position{
    width: 100px;
    text-align: center;
    background-color: gray;
    border-radius: 20px;
    position: relative;
    top: -2.5em;
    right: -2em;
} */

/* Mail Section */

article.mail-section{
    /* margin: 2em 10em 2em 8em ; */
    font-family: 'Poppins', sans-serif;
}
article.mail-section p.mail-text{
    font-size: 19px;
    width: 38%;
    font-weight: 400;
}
article.mail-section p.mail-text + h1{
    margin: 0.3em 0;
    font-size: 35px;
}
article.mail-section p.send-mail{
    font-size: 24px;
    font-style: italic;
}

/* Full width Image */
div.full-width-image{
    height: 70vh;
    background-image: url(/images/displayImage.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

/* Footer */
footer.about-footer .footer-contents{
    margin-top: 0;
}
@media screen and (max-width:1024px) {
    .landing-mobile-css1 h2.logo{
        margin-top: 5px;
        margin-left:40px;
    }
    .landing-mobile-css1 h2{
        margin-top: 20px;
        margin-left: 150px;
    }
    .landing-mobile-css1 ul {
        margin-left: 90px;
        margin-top: 27px;
    }
    section.about{
        height: 50vh;
    }
   .vision-mission{
        margin: 10px;
    }

   section.about h1.about-us{
    font-size: 500%;
   }
   section.about article.display_images{
    margin-left: -100%;
   }
    section.vision-mission{
    width: 50%;
    margin-left: 10%;
     }
     .vision-mission-contents:nth-child(1){
        width: 437.93px;
       height: 250.05px;
       font-size: 75%;
    }
    .vision-mission-contents:nth-child(1) img {
        width: 30.59px;
       height: 30.59px;
    }
    .vision-mission-contents:nth-child(1) h3{
        font-size: 29px;
    }
      .vision-mission-contents:nth-child(1) p{
            width: 60%;
      }
      
      .vision-mission-contents:nth-child(2) img {
        width: 390.31px;
        height: 250.05px;
        
         }
           .vision-mission-contents:nth-child(3) img {
        width: 420.31px;
        height: 294.05px;
           }
        .vision-mission-contents:nth-child(4){
                width:367.93px;
                margin-left: 10px;
                font-size: 80%;

         }
    section.core-values article.values-display{
       grid-template-columns: repeat(2,1fr);
    }
    section.core-values article.values-display{
       width: 180px;
    }
    section.our-team article.members div.main{
       width: 200px;
    }
    .vision-mission-contents:nth-child(1) p{
       font-size: 150%;
    }
    .vision-mission-contents:nth-child(4) p{
       font-size: 150%;
    }
    section.our-team{
       margin-top: 100px;
    }
   section.about p.about-text{
    font-size: 18px;
    width: 70%;
   }
}

   @media screen and (max-width:768px) {
    html{
        width: 100%;
        overflow-x: hidden;
    }
    .landing-mobile-css1{
        display: flex;
        position: fixed;
        background-color: #fff;
        justify-content: space-between;
        width: 99.9%;
    }
    .landing-mobile-css1 h2.logo{
    margin-top: 10px;
    margin-left: 45px;
  }
    body{
        width: 100%;
        overflow-x: hidden;
    }
    section.about{
      max-width: var(--margin-mobile);
    }
    section.about h1.about-us{
       font-size: 300%;
    } 
    section.about h3.about-intro{
        font-size: 200%;
    }
    section.about p.about-text{
        font-size: 100%;
    }
    article.display_images{
        display: flex;
        width: 100%;
    }
    article.display_images img{
        width: 200%;
    }
    article.display_images img#first{
        margin-right: -50%;
    }
    section.vision-mission{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        margin-top: -40px;
    }
    .vision-mission-contents:nth-child(1){
        width: 80%;
    }
    .vision-mission-contents:nth-child(2) img{
        display:none;
    }
    .vision-mission-contents:nth-child(4){
        width: 80%;
    }
    .vision-mission-contents:nth-child(3) img{
       display: none;
    }
    section.core-values h3.wdu{
        text-align: center;
        font-size: 170%;
    }
    section.core-values article.values-display{
        display: block;
        width: 100%;
    }
    section.core-values article.values-display div{
        width: 80%;
        margin-top: 9%;
    }
    section.our-team{
        margin-top: 110%;
    }
    section.our-team p.ot-info{
        font-size: 100%;
    }
    section.our-team article.members{
        grid-template-columns: repeat(3,1fr);
        margin-left: 1em;
    }
    section.our-team article.members div.main{
        margin-bottom: 20%;
        height: 50vh;
    }
    section.our-team article.members div.main.on-hover{
        width: 110%;
    }
    div.on-hover img{
        width: 70%;
    }
    div.on-hover div{
        margin-left: -0.1em;
    }
    article.mail-section p.mail-text{
        width: 70%;
    }
    footer.about-footer{
        width: var(--margin-mobile);
    }
   }
   @media screen and (max-width:425px){
    html{
        width: 100%;
        overflow-x:visible;   
      }
    body{
        width:100%;
    }
    .landing-mobile-css1{
        margin-top: 20px;
        width: 100%;
    }
    section.about{
        height: 40vh;
    }
    section.about h1.about-us{
        font-size: 200%;
        margin-left: -30%;
    }
    section.about h3.about-intro{
        font-size: 100%;
        margin-top: 40px;
        margin-left: -30%;
    }
    section.about p.about-text{
        font-size: 80%;
        width: 100%;
        margin-left: -30%;
    }
    article.display_images{
        margin-top: 50%;
        margin-left: -11%;
        margin-right: 30%;
        gap: 20px;
    }
    section.vision-mission{
        margin-top: -40%;
    }
    .vision-mission-contents:nth-child(1) h3{
        font-size: 300%;
        font-weight: 300;
        margin-bottom: 10%;
    }

    .vision-mission-contents:nth-child(1){
        font-size: 40%;
        line-height: 250%;
        margin-left: 2.5%;
    }
    .vision-mission-contents:nth-child(4) h3{
        font-size: 300%;
        font-weight: 300;
        margin-bottom: 10%;
    }
    .vision-mission-contents:nth-child(4){
        font-size: 40%;
        line-height: 250%;
        margin-left: 2.5%;
    }
    section.core-values h3.wdu{
        font-size: 130%;
        margin-left: -30%;
    }
    section.core-values h1.ocv{
        font-size: 100%;
        margin-left: 10%;
    }
    section.core-values article.values-display{
        margin-left: 10%;
    }
    section.core-values article.values-display div p.each-value{
        font-size: 100%;
    }
    section.core-values article.values-display div p.each-value + span{
        font-size: 70%;
    }
    section.our-team{
        margin-top: 250px;
    }
    section.our-team h1.ot-header{
        font-size: 150%;
        margin-left: 20%;
    }
    section.our-team p.ot-info{
        margin-left: 10%;
        font-size: 80%;
        line-height: 170%;
        width: 90%;
    }
    section.our-team article.members{
        display: block;
        margin-left: 7%;
        margin-bottom: 2%;
    }
    section.our-team article.members div.main{
        width: 100%;
        height: 50vh;
    }

    section.our-team article.members div.main.member-mobile-absent{
        display: none;
    }
    

    article.mail-section{
        width: 100%;
        margin-left: 7%;
    }
    section.our-team article.members div.main.on-hover{
        width: 100%;
    }

   }