*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
div.margin-specifier {
  margin-left: 8.2em;
}
/* First section styling */
section.first {
  background-image: url(/images/landingPage-bg.svg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.first .one {
  max-width: var(--max-width);
  margin: 0 auto;
}
section.first h1.title {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 85px;
  /* width: 500px; */
  margin-top: 1.3em;
}
section.first p.sub-text {
  margin: 1em 0;
  color: #fff;
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
section.first a.get-started {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  padding: 7px 20px;
  text-decoration: none;
  border-radius: 5px;
  color: black;
  transition: color 500ms;
  margin-bottom: 3em;
  font-size: 18px;
}
section.first a.get-started:hover {
  color: brown;
}
section.first div.two {
  margin-top: 5em;
}
/* section.first img{
    position: relative;
    left: -180px;
    border-radius: 10px;
} */

/* Display Image */

/* div.display-image{
    display: flex;
    justify-content: center;

}
div.display-image img{
    border-radius: 10px;
    width: 680px;
    height: 300px;
    position: relative;
    top: -8.5em;
    
} */

/* second section styling */
section.second {
  /* width: 80%; */
  margin-top: 4em;
  text-align: justify;
  position: relative;
}
section.second h3.wwa {
  line-height: 3;
  color: brown;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
}

section.second p.desc-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 2;
}

section.second .desc-images {
  margin: 1.5rem auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  gap: 10px;
}
section.second .desc-images.inactive {
  display: none;
}
.mobile-desc-img{
  display: none;
}
section.second .desc-images .img {
  width: 200px;
  height: 200px;
  border-radius: 7px;
  cursor: pointer;
  overflow: hidden;
}
section.second .desc-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

section.second .desc-images img:hover {
  transform: scale(1.5);
}

section.second .desc-images .img:first-child {
  grid-row: span 2;
  width: 100%;
  height: 100%;
}
section.second .desc-images .img:nth-child(3) {
  grid-column: 3;
  grid-row: span 2;
  width: 100%;
  height: 100%;
}
section.second .desc-images .img:nth-child(5) {
  grid-column: 5;
  grid-row: span 2;
  width: 100%;
  height: 100%;
}

/* section.second  .desc-images .image.db img{
    height: 90px;
    
} */
section.second .desc-images-full-view {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.56);
  backdrop-filter: blur(5px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.desc-images-full-view .imageDisplay {
  width: 60%;
  height: 70%;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
/* Add Zoom animation to modal content */

section.second .desc-images-full-view #close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

section.second .desc-images-full-view #close-btn:hover,
.desc-images-full-view .imageDisplay .getImage i:hover {
  background-color: var(--red);
  color: var(--white);
}

.desc-images-full-view .imageDisplay .getImage {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
.desc-images-full-view .imageDisplay .getImage i {
  font-size: 32px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.desc-images-full-view .imageDisplay .getImage img {
  width: 400px;
}

section.second .desc-images-full-view.active {
  display: flex;
}

/* third section */

section.third div.what_we_do {
  margin: 3em 0 2em;
  /* display: flex;
    justify-content: space-around; */
}
section.third h3.wwd {
  color: brown;
  font-family: 'Poppins', sans-serif;
}
section.third h1.info-header {
  margin: 0.5em 0;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
}
section.third p.info-text {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  width: 600px;
}
section.third div.learn-more {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  height: 90vh;
}
section.third div.learn-more article.item {
  /* width: 250px; */
  height: 300px;
  padding: 15px;
  text-decoration: none;
  background-color: #fafafa;
  
}
section.third div.learn-more article.item img {
  background-color: lightgrey;
  padding: 10px 10px;
}
section.third div.learn-more article.item h2.item-header {
  margin: 1em 0;
  height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

section.third div.learn-more article.item p.item-text {
  color: gray;
  font-size: 16px;
  margin-bottom: 0.7em;
  font-family: 'Roboto', sans-serif;
}
section.third div.learn-more article.item a {
  text-decoration: none;
  color: brown;
  font-size: 14px;
  transition: all 500ms;
  font-family: 'Roboto', sans-serif;
}
section.third div.learn-more article.item a:hover {
  color: gold;
}
/* fourth section */

section.fourth {
  width: 83%;
  /* margin: 2em auto; */
}
section.fourth h3 {
  color: brown;
  margin-top: 5em;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
section.fourth h1 {
  margin: 0.5em 0;
  font-size: 37px;
  font-family: 'Poppins', sans-serif;
}
section.fourth p.choose-us-text{
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  /* width: 400px; */
}

section.fourth div.qualities {
    /* max-width: var(--max-width); */
  /* margin-top: 2.5em; */
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 0;
  /* margin-top: 200px; */
  width: 90%;
}
section.fourth div.qualities .each-quality{
    background-color: #fafafa;
    padding: 10px;
    text-align: center;
    width: 250px;
    /* margin-top: 20px; */

}
section.fourth div.qualities img {
  background-color: lightgray;
  padding: 10px 12px;
  /* position: relative;
  right: -1.5em;
  top: -0.3em; */
}
section.fourth div.qualities p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}
section.fourth div.qualities span {
  position: relative;
  display: inline-block;
  width: 200px;
  left: -10px;
  font-family: 'Poppins', sans-serif;
}
/* Article break into tech */

article.break-into-tech {
  margin-top: 5em;
  height: 400px;
  background-image: url(/images/displayImage.svg);
  background-repeat: no-repeat;
  background-size: cover;

  /* background-position: center; */
}
article.break-into-tech::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 400px;
  background: rgba(255, 153, 0, 0.3);
  z-index: 0.5;
  position: relative;
  top:-5.5em;
}
article.break-into-tech div {
  color: #fff;
  z-index: 10;
  margin: 0 auto;
  width: 500px;
  position: relative;
  bottom: -175px;
}

article.break-into-tech div h2 {
  font-size: 37px;
  font-family: 'Poppins', sans-serif;
  /* margin-bottom: 1rem; */
}
article.break-into-tech div a {
  border: 1px solid #fff;
  color: #fff;
  padding: 17px 35px;
  border-radius: 8px;
  text-decoration: none;
  position: relative;
  right: -6em;
  bottom: -2rem;
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
}

/* fifth section */

section.fifth {
  margin: 3em 0 4em;
  font-size: 18px;
}
section.fifth h3 {
  color: brown;
  margin-bottom: 1em;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}
section.fifth h1 {
  width: 500px;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
}
section.fifth .customers-logo {
  position: relative;
  left: -2em;
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
section.fifth div.fce {
  display: flex;
}
section.fifth span.arrangement {
  display: grid;
}
@media screen and (max-width:1024px) {
  body{
    max-width: 100%;
  }
  section p {
    font-size: 3000%;
    line-height: 35px;
    font-family: poppins;
  }
  footer p {
   font-size: 130%;
  }
  footer ul li a {
    font-size: 100%;
    font-family: poppins;
  }
  footer h1,h2,h3{
    font-size: 180%;
  }
  section h1,h2,h3{
   font-size: 170% ;
  }
  section.third div.learn-more article.item p.item-text {
    font-size: 120%;
    line-height: 25px;
    font-family: poppins;
  }
  section.third div.learn-more article.item a {
    font-size: 110%;
  }
  section.third div.learn-more article.item h2.item-header {
   font-size: 130%;
  }
  section.fourth div.qualities {
  gap: 20px;
  
}

section.fourth div.qualities p {
  font-family:poppins;
}
}
@media screen and (max-width:768px) {
  section.first {
    background-image: url(/images/Rectangle\ 23.jpg);
  }
  section.first h1.title {
    text-align: center;
      font-size: 500%;
  }
  section.first p.sub-text {
    text-align: center;
    font-size: 20px;
    font-weight: 4300;
  }
  section.first a.get-started {
    margin-left: 450px;
    font-size: 16px;
  }
  section.second .desc-images {
    margin-top: 80px;
    margin-bottom: -850px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:8px;
  }

  
  
  section.second .desc-images .img:first-child {
    grid-row: span 2;
    width: 500px;
    height: 130vh;
  }
  section.second .desc-images img {
    width: 100%;
    height: 100%;
  }
  section.second .desc-images .img:nth-child(3) {
    grid-column: 3;
    grid-row: span 2;
    width: 100%;
    height: 100%;
  }
  section.second .desc-images .img:nth-child(5) {
    display: none;
  }
  section.second .desc-images .img:nth-child(7) {
    margin-left: 10px;
    margin-top: -260px;
    height: 55%;

  }

  section.second .desc-images .img:nth-child(6) {
    width: 45%;
    height: 50%;
    margin-top: -500px;
    margin-left: 510px;
  }
  section.second .desc-images .img:nth-child(4) {
    margin-top: -250px;
  }

}
@media screen and (max-width:425px) {
  section.first {
    height: 250vh;
  }
  section.first h1.title {
    font-size: 730%;
  }
  section.first p.sub-text {
    font-size: 290%;
    line-height: 140%;
  }
section.first a.get-started {
  font-size: 300%;
  width: 150%;
  font-family: poppins;
}
#menu{
  font-size: 400%;
}
  /* section.second .desc-images .img:nth-child(2) {
    display: none;
 }
 section.second .desc-images .img:nth-child(3) {
   display: none;
 }
 section.second .desc-images .img:nth-child(4) {
   display: none;
 }
 section.second .desc-images .img:nth-child(5) {
   display: none;
 }
 section.second .desc-images .img:nth-child(6) {
   display: none;
 }
 section.second .desc-images .img:nth-child(7) {
   display: none;
 }
 section.second .desc-images .img:nth-child(1) {
   width: 270%;
   margin-top: -30px;
   margin-left: 70px;
 }
 section.second .desc-images {
   height: 300vh;
 } */
 section.second .desc-images .img {
  width: 200px;
  height: 250px;
  }
section.second .desc-images {
display: none;
}

section.second div.mobile-desc-img{
display: block;
width: 100%;
height: 80px;
margin: 2em auto 0;

}
section.second div.mobile-desc-img div img{
  width: 100%;
  height: 600px;
  border-radius: 10px;
  object-fit: cover;
}
section.second div.mobile-desc-img .scroll-btns{
text-align: center;
}
section.second div.mobile-desc-img .scroll-btns i{
  margin-top: 60px;
font-size: 94px;
color: #fff;
background-color: #330001;
border-radius: 5px;
cursor: pointer;
}

 section h3 {
  text-align: center;
  font-size: 310%;
 }
 section p.desc-text{
  width: 96%;
  text-align: center;
 }
 section.second h3{
  /* font-size: 550%; */
 }
 section.second h3.wwa {
  font-size: 450%;
 }
 section.second p.desc-text {
  font-size: 250%;
 }
 section.third h3.wwd {
   font-size: 450%;
}
section.third h1.info-header{
  font-size: 250%;
  width: 100%;
  text-align: center;
  font-weight: 600;
}

section.third p.info-text {
  font-size: 200%;
  width: 100%;
  line-height: 140%;
 }
section.second p {
  font-size: 200%;
}

section.second  article h1.info-header {
  text-align: center;
}
section.third div.learn-more {
  margin-top:30%;
  display: grid;
  grid-template-columns: 1fr ;
  gap: 20px;
  height: 490vh;
  margin-bottom: 50%;
}
section.third p {
  font-size: 200%;
}
section.third div.learn-more article.item{
  height: 440px;
  margin-bottom: 10%;
}

section.third div.learn-more article.item img{
  margin-left: 50%;
  width: 10%;
}
section.third div.learn-more article.item h2.item-header{
text-align: center;
font-weight: 300;
font-family: poppins;
font-size: 300%;
}
section.third div.learn-more article.item p.item-text{
  text-align: center;
  font-size: 200%;
  line-height: 150%;

}
section.third div.learn-more article.item a.item-learn-more{
  display: block;
  margin-left:45%;
  font-size: 250%;
}
section.fourth {
  /* margin: auto; */
  height: 140%;
}
section.fourth h3.wcu {
 font-size: 400%;
 text-align: center;
}
section.fourth h1.choose-us-header{
  text-align: center;
  font-weight: 600;
  font-size: 250%;
}

section.fourth p.choose-us-text{
  font-size: 250%;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  width: 100%;
  line-height: 200%;
}
section.fourth div.qualities {
display: grid;
grid-template-columns: 1fr;
margin-top: 5%;
margin-bottom: 20%;
gap: 200px;
}
section.fourth div.qualities .each-quality{
  /* margin-left: 5%; */
  width: 100%;
  height: 100%;
  margin-top: 100px;

}
section.fourth div.qualities img {
width: 12%;
}
section.fourth div.qualities p {
font-family: poppins;
font-size: 230%;
margin: 5% 5%;
font-weight:400 ;
}
section.fourth div.qualities span {
position: relative;
display: inline-block;
width: 70%;
left: -10px;
font-family: Poppins;
font-size: 150%;
}
article.break-into-tech {
  height: 500px;
}
article.break-into-tech div h2{
  width: 120%;
  font-size: 50px;
  text-align: center;
}
article.break-into-tech::after {
  content: '';
  display: inline-block;
  height: 500px;
  top:-8.5em;
}
article.break-into-tech div a{
  font-size: 250%;
  margin-left: -100px;
}

section.fifth h3.our-clients{
  font-size: 300%;
}
section.fifth h1{
  width: 90%;
  text-align: center;
  font-size: 200%;
}

}
@media screen and (max-width:375px) {
   section h3 {
    text-align: center;
    font-size: 30%;
   }
   section p.desc-text{
    width: 96%;
    text-align: center;
   }
  section.second .desc-images .img:nth-child(2) {
   display: none;
}
section.second .desc-images .img:nth-child(3) {
  display: none;
}
section.second .desc-images .img:nth-child(4) {
  display: none;
}
section.second .desc-images .img:nth-child(5) {
  display: none;
}
section.second .desc-images .img:nth-child(6) {
  display: none;
}
section.second .desc-images .img:nth-child(7) {
  display: none;
}
section.second .desc-images .img:nth-child(1) {
  width: 270%;
  margin-top: -30px;
  margin-left: 70px;
}
section.second .desc-images {
  height: 300vh;
} 
section.fourth {
  margin-top:-15%;
}
}

